        .tet {
            font-size: 50px;
        }
        
        input {
            color: black;
        }
        
        textarea {
            color: black;
        }
        
        .disc {
            /* font-family: Garamond, sans-serif;
            font-size: 22px;*/
            text-shadow: 1px 1px black;
            font-weight: bold;
        }